@page
@model GrupoESINuevo.DetailsQuotationModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quotation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quotation.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditQuotation" asp-route-id="@Model.Quotation.OrderDetailsModel.Id">Edit</a> |
    <a asp-page="./IndexQuotation">Back to List</a>
</div>
