@page
@model GrupoESINuevo.CreateMaterialModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input hidden asp-for="_TaskMaterialVM.taskId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_TaskMaterialVM.MaterialModel.Name" class="control-label"></label>
                <input asp-for="_TaskMaterialVM.MaterialModel.Name" class="form-control" />
                <span asp-validation-for="_TaskMaterialVM.MaterialModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_TaskMaterialVM.MaterialModel.Description" class="control-label"></label>
                <input asp-for="_TaskMaterialVM.MaterialModel.Description" class="form-control" />
                <span asp-validation-for="_TaskMaterialVM.MaterialModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_TaskMaterialVM.MaterialModel.Price" class="control-label"></label>
                <input asp-for="_TaskMaterialVM.MaterialModel.Price" class="form-control" />
                <span asp-validation-for="_TaskMaterialVM.MaterialModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="IndexMaterial">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
